# core
# Please read the installation instructions for PySide http://qt-project.org/downloads
# It isn't pip installable, extra steps are needed
# PySide
SQLAlchemy>=0.7.0

# for development
nose
pdb4qt
